<%= form_for @anime do |f| %>

    <div class="field">
        <%= f.label :anime_name %>
        <%= f.text_field :anime_name, :size => 30 %>
    </div>

    <div class="field">
        <%= f.label :company_name %>
        <%= f.text_field :company_name, :size => 30 %>

    </div>
    <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>

    <div class="field">
        <%= f.label :genre  %>
        <%= f.select :genre, 
        [["サスペンス", "サスペンス"], 
        ["アクション・バトル", "アクション・バトル"], 
        ["学園・青春", "学園・青春"]], include_blank: "選択して下さい" %>
    </div>

    <div class="field">
        <%= f.label :age  %>
        <%= f.number_field :age, :size => 10 %>
    </div>

    <h5>総合評価
        <%= f.label :overall  %>
        <%= f.number_field :overall, :size => 10 %>
    </h5>
    

    <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>

    <%= f.submit "編集する" %>
<% end %>